body {
    font-family: Arial;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 50%;
    text-align: center;
}
  
.right-column {
    width: 50%;
    text-align: center;
}

.axis-label {
    font-family: Arial;
}

.subtext {
    font-size: 18px;
}


#vis1 {
    text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label, button {
    font-size: 22px;
}

select {
  width: 250px;
}

.x-label {
    font-family: Arial;
}

.y-label {
    font-family: Arial;
}


.tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    opacity: 0;
}