body {
    font-family: Arial;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: left;
    font-size: 34px;
}

h3 {
    text-align: left;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 34px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 50%;
    text-align: center;
}
  
.right-column {
    width: 50%;
    text-align: center;
}

.axis-label {
    font-family: Arial;
}

.subtext {
    font-size: 18px;
}


#vis1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label, button {
    font-size: 22px;
}

select {
    font-size: 16px;
    width: 250px;
}

.x-label {
    font-family: Arial;
}

.y-label {
    font-family: Arial;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    opacity: 0;
}

.tooltip-2 {
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    opacity: 0;
}
